:root {
  --color-hover: #f38181;
  --color-icon: #fce38a;
  --color-gradient: #eaffd0;
  --letters-color: #95e1d3;
  --font-main-regular: 'Montserrat', serif, sans-serif ;
  --font-main-regularbold: 'MontserratBold', serif, sans-serif;
  --font-semi-regular: 'Roboto', serif, sans-serif;
  --font-semi-regularbold: 'RobotoBold', serif, sans-serif;
}
