:root {
  --color-hover: #f38181;
  --color-icon: #fce38a;
  --color-gradient: #eaffd0;
  --letters-color: #95e1d3;
  --font-robotoregular: "RobotoRegular", serif, sans-serif ;
  --font-robotobold: "RobotoBold", serif, sans-serif;
}
