* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1600px;
  height: 1840px;
}

i {
  margin: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header {
  width: 1110px;
  margin: 0 auto;
  margin-top: 38px;
  margin-bottom: 32px;
}

.logo {
  margin: 0;
  float: left;
  font-weight: normal;
  text-transform: uppercase;
}
.logo::first-letter {
  color: green;
  font-weight: bolder;
}

.navigation {
  float: right;
}

.nav-list li {
  display: inline-block;
  list-style: none;
  margin-right: 34px;
}

.nav-list > li > a {
  color: black;
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;
}

.nav-list a:hover {
  color: #1abc9c;
}

.nav-list a:focus {
  color: #1abc9c;
}

li {
  list-style: none;
}

.nav-list li:last-child {
  margin: 0;
}

.section-slider {
  position: relative;
  left: 0;
}

.slider {
  background-image: url(/module-05/img/slide.png);
  background-repeat: no-repeat;
  position: relative;
  width: 1600px;
  height: 600px;
  }



.hidden-scroll {
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.5);
}

.slider:hover .hidden-scroll{
  display: inherit;
}

.hidden-scroll-text{
  width: 1110px;
  height: 120px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 225px;
}



.fa-angle-left, .fa-angle-right{  
  width: 100%;
  height: 100%;
}

.arrow-left{
  width: 100px;
  height: 100px;
  background-color: rgba(26, 188, 156, 0.5);
  float: left;
  text-align: center;
  font-size: 100px;
  color: white;
}

.arrow-right{
  width: 100px;
  height: 100px;
  background-color: rgba(26, 188, 156, 0.5);
  float: right;
  text-align: center;
  font-size: 100px;
  color: white;
}

.name{
  display: inline-block;
  font-size: 60px;
  text-transform: uppercase;
  color: white;
  position: relative;
  bottom: 30px;
  left: 65px;
}

.subtext{
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  position: relative;
  left: 65px;
}




.main-wrapper {
  background-color: #e9f0fd;
  margin: 0 auto;
  padding: 100px 0 100px 0;
}

.title {
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 132px;
  font-size: 48px;
  /* position: relative; */
  /* top: 30px; */
}

.title::after {
  content: "";
  border-top: 6px solid #1abc9c;
  display: block;
  margin: 0 auto;
  width: 164px;
  margin-top: 32px;
}

.article-wrapper {
  display: inline-block;
position: relative;
left: 245px;
}

.article-list {
  display: block;
  margin: 0 auto;
}

.article {
  float: left;
  width: 255px;
  height: 322px;
  list-style: none;
  margin-right: 30px;
  position: relative;
}

.article:nth-child(4n) {
  margin-right: 0;
}

.article-list img {
  width: 255px;
  height: 282px;
  display: block;
}

p {
  margin: 0;
  padding: 0;
}

.article-name {
  float: left;
  background-color: #323232;
  width: 201px;
  height: 40px;
  text-decoration: none;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
}

.article:hover .article-name {
  background-color: #1abc9c;
}

.article:hover .article-price {
  background-color: rgba(26, 188, 156, 50%);
}

.article-link:focus .article-name {
  background-color: #1abc9c;
}

.article-link:focus .article-price {
  background-color: rgba(26, 188, 156, 50%);
}

.article-price {
  float: right;
  height: 40px;
  width: 54px;
  background-color: #8c8c8c;
  text-decoration: none;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
}

.hidden-card {
  height: 263px;
  width: 235px;
  background-color: rgba(50, 50, 50, 0.5);
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}

.hidden-menu {
  width: 170px;
  height: 110px;
  position: absolute;
  top: 80px;
  left: 32px;
}

.heart,
.exchange-alt,
.clock {
  width: 50px;
  height: 50px;
  font-size: 40px;
  border: 1px solid white;
  text-align: center;
  color: white;
}

.fa-heart,
.fa-exchange-alt,
.fa-clock {
  position: relative;
  top: 3px;
}

.shopping-cart {
  width: 170px;
  height: 50px;
  font-size: 14px;
  border: 1px solid white;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.shopping-cart p {
  float: left;
  position: relative;
  top: 16px;
  left: 20px;
}

.fa-shopping-cart {
  font-size: 40px;
  float: left;
  position: relative;
  top: 4px;
  left: 8px;
}

.hidden-menu li {
  float: left;
}

.hidden-menu li:nth-child(-n + 3) {
  margin: 0 10px 10px 0;
}

.hidden-menu li:nth-child(3) {
  margin-right: 0;
}

.hidden-menu > li > a {
  width: 100%;
  height: 100%;
  display: block;
  color: white;
  text-decoration: none;
}

.hidden-menu a:hover {
  background-color: #1abc9c;
}

.article:hover .hidden-card {
  display: inherit;
}

.article:hover img {
  opacity: 0.5;
}

.footer {
  width: 1600px;
  height: 90px;
  background-color: #323232;
  color: white;
  position: absolute;
  left: 0;
}

.footer-text{
  text-align: center;
  position: relative;
  top: 35px;
}

.footer-tex{
  text-align: center;
  display: inline-block;
  text-transform: capitalize;
}

.designer{
  text-decoration: none;
  color: #1abc9c; 
  display: inline-block;
  text-transform: capitalize;
  white-space: pre;
}
