*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  width: 1600px;
  height: 1840px;
}

.wrapper{
  width: 1110px;
  margin: 0 auto;
}



.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header {
  margin-top: 38px;
  margin-bottom: 110px;
}

.logo {
  margin: 0;
  float: left;
  font-weight: normal;
  text-transform: uppercase;
}
.logo::first-letter {
  color: green;
  font-weight: bolder;
}

.navigation {
  float: right;
}

.nav-list li {
  display: inline-block;
  list-style: none;
  margin-right: 34px;
}

.nav-list a {
  color: black;
  text-transform: uppercase;
  font-weight: bolder;
}

.nav-list a:hover {
  color: #1abc9c;
}

.nav-list a:focus {
  color: #1abc9c;
}

li{
  list-style: none;
}

.nav-list li:last-child {
  margin: 0;
}

.slider-img{
display: block;
}


.section-slider{
  width: 1600px;
  height: 600px;
}

.hidden-scroll{
  display: none;
}











.title {
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 132px;
  font-size: 48px;
}

.title::after {
  content: "";
  border-top: 6px solid #1abc9c;
  display: block;
  margin: 0 auto;
  width: 164px;
  margin-top: 32px;
}

.article-list {
  margin: 0;
  margin-bottom: 106px;
  padding: 0;
  
}

.article {
  float: left;
  width: 255px;
  height: 322px;
  list-style: none;
  margin-right: 30px;
  /* position: absolute; */
}

.article:nth-child(4n) {
  margin-right: 0;
}


.article-list img {
  width: 255px;
  height: 282px;
  display: block;
}

p {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.article-name {
  float: left;
  background-color: #323232;
  width: 201px;
  height: 30px;
  text-decoration: none;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
}

.article:hover .article-name {
  background-color: #1abc9c;
}

.article:hover .article-price {
  background-color: rgba(26, 188, 156, 50%);
}

.article-link:focus .article-name {
  background-color: #1abc9c;
}

.article-link:focus .article-price {
  background-color: rgba(26, 188, 156, 50%);
}

.article-price {
  float: right;
  height: 30px;
  width: 54px;
  background-color: #8c8c8c;
  text-decoration: none;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
}

.hidden-menu {
  /* display: none; */
}

.hidden-card{
  height: 322px;
  width: 255px;
  background-color: rgba(50, 50, 50, 0.5);
  /* position: absolute; */
  position: 
}
