.section__block-name{
    width: 40rem;
    margin-bottom: 5rem;
}

.section__block-name::after{
    content: '';
    display: block;
    height: 5rem;
    width: 6rem;
    margin: 0 auto;
    border-bottom: .4rem solid var(--color-hover);
}

.section-subtext{
    font-size: 2.4rem;
    font-family: var(--font-h3);
}

.section-subtext::first-letter{
    text-transform: uppercase;
}

.section-name{
    font-size: 3rem;
    font-family: var(--font-h2-bold);
    text-transform: uppercase;
}

.card__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 13rem;
}

.card__item{
    width: 38rem;
    height: 8rem;
    display: flex;
}

.card__item:nth-child(-n+3){
    margin-bottom: 9rem;
}

.card__symbol{
    height: 100%;
    width: 20%;
}

.card__svg{
    fill: var(--letters-color);
    width: 50%;
    height: 50%;
}

.card__info{
    width: 80%;
    height: 100%;
}

.card__headline{
    font-family: var(--font-h2);
    text-transform: uppercase;
    font-size: 1.4rem;
}

.card__text{
    font-family: var(--font-robotoregular);
    font-size: 1.5rem;
}

.card__text::first-letter{
    text-transform: uppercase;
}