.title-section__wrapper {
  background-image: -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgb(243, 129, 129, 0.8)),
      color-stop(rgb(254, 152, 122, 0.8)),
      color-stop(rgb(255, 176, 120, 0.8)),
      color-stop(rgb(255, 202, 125, 0.8)),
      color-stop(rgb(252, 227, 138, 0.8)),
      color-stop(150%, transparent)
    ),
    url(/img/background.jpg);
  background-image: -webkit-linear-gradient(
      top,
      rgb(243, 129, 129, 0.8),
      rgb(254, 152, 122, 0.8),
      rgb(255, 176, 120, 0.8),
      rgb(255, 202, 125, 0.8),
      rgb(252, 227, 138, 0.8),
      transparent 150%
    ),
    url(/img/background.jpg);
  background-image: -o-linear-gradient(
      top,
      rgb(243, 129, 129, 0.8),
      rgb(254, 152, 122, 0.8),
      rgb(255, 176, 120, 0.8),
      rgb(255, 202, 125, 0.8),
      rgb(252, 227, 138, 0.8),
      transparent 150%
    ),
    url(/img/background.jpg);
  background-image: linear-gradient(
      to bottom,
      rgb(243, 129, 129, 0.8),
      rgb(254, 152, 122, 0.8),
      rgb(255, 176, 120, 0.8),
      rgb(255, 202, 125, 0.8),
      rgb(252, 227, 138, 0.8),
      transparent 150%
    ),
    url(/img/background.jpg);
  margin-bottom: 5rem;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .title-section__wrapper {
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(rgb(243, 129, 129, 0.8)),
        color-stop(rgb(254, 152, 122, 0.8)),
        color-stop(rgb(255, 176, 120, 0.8)),
        color-stop(rgb(255, 202, 125, 0.8)),
        color-stop(rgb(252, 227, 138, 0.8)),
        color-stop(150%, transparent)
      ),
      url(/img/background@2x.jpg);
    background-image: -webkit-linear-gradient(
        top,
        rgb(243, 129, 129, 0.8),
        rgb(254, 152, 122, 0.8),
        rgb(255, 176, 120, 0.8),
        rgb(255, 202, 125, 0.8),
        rgb(252, 227, 138, 0.8),
        transparent 150%
      ),
      url(/img/background@2x.jpg);
    background-image: -o-linear-gradient(
        top,
        rgb(243, 129, 129, 0.8),
        rgb(254, 152, 122, 0.8),
        rgb(255, 176, 120, 0.8),
        rgb(255, 202, 125, 0.8),
        rgb(252, 227, 138, 0.8),
        transparent 150%
      ),
      url(/img/background@2x.jpg);
    background-image: linear-gradient(
        to bottom,
        rgb(243, 129, 129, 0.8),
        rgb(254, 152, 122, 0.8),
        rgb(255, 176, 120, 0.8),
        rgb(255, 202, 125, 0.8),
        rgb(252, 227, 138, 0.8),
        transparent 150%
      ),
      url(/img/background@2x.jpg);
  }
}

.title-section {
  height: 100rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3rem;
  margin-bottom: 10rem;
}

.logo {
  font-family: var(--font-h2-bold);
  font-size: 3rem;
  color: var(--text-color);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 62.5rem;
  height: 8rem;
}

.navigation svg {
  fill: var(--text-color);
}

.navigation__list {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__list-item:hover :after {
  content: "";
  display: block;
  height: 1rem;
  border-bottom: 0.3rem solid var(--color-icon);
}

.navigation__list-item:hover .navigation__list-item-link {
  color: var(--color-icon);
}

.navigation__list-item:hover svg {
  fill: var(--color-icon);
}

.navigation__list-item-link {
  text-transform: uppercase;
  color: var(--text-color);
  font-family: var(--font-h2);
  font-size: 1.4rem;
}

.navigation__list svg {
  display: block;
  width: 1.4rem;
  height: 1.4rem;
}

.banner {
  width: 82rem;
}

.banner__title {
  font-size: 7.2rem;
  font-family: var(--font-h3);
  text-transform: capitalize;

  color: var(--text-color);
}

.banner__text {
  text-transform: uppercase;
  font-size: 15rem;
  font-family: var(--font-h2-bold);

  margin-bottom: 12.5rem;
  color: var(--text-color);
}

.learn-more__link {
  font-size: 1.4rem;
  font-family: var(--font-h2-bold);
  text-transform: uppercase;
  color: var(--text-color);
  border: 0.3rem solid var(--text-color);
  width: 16rem;
  height: 4rem;
  padding-top: 1rem;
}

.learn-more__link:hover{
  color: var(--color-hover);
  border: 0.3rem solid var(--color-hover);
}
