html{
    box-sizing: border-box;
}

*,
*::before, 
*::after {
    box-sizing: inherit
}

.wrapper{
    width: 908px;
    /* background-color: aqua; */
    margin: 0 auto;
}

img{
    display: block;
    width: 420px;
    height: 280px;
}

.header {
    margin-top: 76px;
    text-align: center;
}

.list-item li {
    display: inline;
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
} 

.list-item a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: coral;
}
    

.list-item li:not(:last-child) {
    margin-right: 120px;
}

.section-list{
    margin: 0;
    padding: 0;
    margin-top: 100px;
}

.section-list-item {
    box-sizing: border-box;
    display: inline-block;
    list-style: none;
    width: 420px;
    height: 480px;
    margin-bottom: 136px;
}

.section-list-item:not(:nth-child(2n)){
    margin-right: 60px;
}

.footer{
    text-align: center;
    margin-bottom: 30px;
}

.footer a{
    text-decoration: none;
    font-size: 25px;
    text-transform: capitalize;
    color: black;
    
    }

    a:hover{
        color: coral;
    }